<div class="well">
  <h2>Oil List 
    <% if logged_in? %>
      <a href="/oils/new">(Create New Oil)</a>
    <% end %>
  </h2>

  <% @oils.each do |oil| %>

    <h4><a href="/oils/<%= oil.id %>"><%= oil.name %></a></h4>

  <% end %>
</div>