<h2>Create New Size</h2>
<form method="POST" action="/variants">
  <label>Product Size: </label><br>
  <input type="text" name="size"><br>
  <br>
  <label>Cost: </label><br>
  <input type="integer" name="cost"><br>
  <br>
  <input type="submit" value="submit">
</form>