<h2>Edit Product</h2>
<form method="POST" action="/products/:id">
  <label>Product Name: </label>
  <input type="text" name="name" value="<%= @product.name %>"><br>
  <br>

  <label>Product Type: </label><br>
  <% Product.types.each do |type| %>
    <input type="checkbox" name="product_type" value="<%= type %>" <%='checked' if @product.product_type.include?(type) %>> <%= type %><br>
  <% end %>

  <input type="submit" value="submit">
</form>