<div class="well">
  <p>Inspired by my Mom and Mother-in-love, encouraged by my two daughters, and pushed into action by many family and friends I decided in the summer of 2012 to start a small project which has been growing daily!</p> 

  <p>Mom has used Pure Essential Oils for over 20 years and talked me into selling them about 3 years ago. I have used and enjoyed the oils ever since. Two Summers ago at our Beach Family Reunion all the ladies made homemade Bath Scrubs with the kids using Sea Salt and Mom's Essential Oils. What fun! Back home, a few months later, the Vernon Farmers Market decided to host a Fall Festival and the idea to share these body scrubs with other people emerged. Creating many combinations and recipes I found several to be a success and hoped might make others smile too.</p>

  <p>My Mother-in-love kept a bowl of Sugar by her sink and 2 or 3 times a week used the Sugar to exfoliate her face.  By combining the Sugar idea with Essential Oils I found an amazing combination which makes your face and lips glow!  Daisy's Sugar gave me the idea for one of my main ingredients for the new face and lip scrubs.</p>
</div>
