<!DOCTYPE html>
<html>
<head>
  <title>Oils of Joy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Oils of Joy</h1>
      <p>Welcome to Oils Of Joy!!! Here you’ll find a variety of my home-made bath  and shower scrubs, hand creams, body oils and so much more all made with Pure Essential Oils!</p>
    </div>
  </div>

  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Menu</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/products">All Products</a></li>
          <li><a href="Oils">All Oils</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <% else %>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>