<!DOCTYPE html>
<html>
<head>
  <title>Layout</title>
</head>
<body>
  <nav align="center">
    <h1>Oils of Joy</h1>

    <% if logged_in? %>
        <a href="/logout"> Log Out </a>

    <% else %>
      <a href="/signup">Sign Up</a> |
      <a href="/login"> Login </a>
    <%end %>

  </nav>

  <%= yield %>
</body>
</html>